body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
}

#quizBox {
    margin-top: 20px;
    font-size: 18px;
}

.answerBtn.correct {
    background-color: green;
    color: white;
}

.answerBtn.wrong {
    background-color: red;
    color: white;
}